* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  flex-shrink: 0;
  /* opacity: 0.10000000149011612; */
  background-image: linear-gradient(-183deg, #ece4d1 50%, transparent 50% 100%);
}

.container {
  fill: var(--secondary, #ede9e0);
  margin: 0 auto;
  max-width: 1440px;
  height: 1247px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  padding: 40px;
}
.matt {
  text-align: left;
}

.matt div p {
  color: var(--secondary, #9e8c6c);
  font-family: PT Sans Narrow;
  font-size: 18px;
  font-style: normal;

  font-weight: 700;

  letter-spacing: 2px;
  margin-top: 30px;
  text-transform: uppercase;
}
.matt div h1 {
  width: 635px;
  color: var(--font-color, #000);
  font-family: Playfair Display;
  font-size: 100px;

  font-style: normal;
  font-weight: 900;
  line-height: 112px;
  margin-top: 10px;
  margin-bottom: 40px;
  letter-spacing: -2.172px;
}
.matt div button {
  width: 225px;
  height: 60px;
  flex-shrink: 0;
  background: var(--primary, #0699a6);
  color: #fff;
  text-align: center;
  font-family: PT Sans Narrow;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 30px;
}

.container .imgs {
  position: relative;
}

.container .imgs img:nth-child(1) {
  width: 350px;
  height: 350px;
}
.container .imgs img:nth-child(2) {
  width: 152px;
  height: 152px;
  position: absolute;
  top: 241px;
  left: 238px;
}

/* section uchun style noutbokk uchun */

.about {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 50px;
  margin: -400px 265px 0;
}
.skill {
  width: 356px;
}
.mee {
  width: 654px;
}
h6 {
  color: var(--secondary, #9e8c6c);
  font-family: PT Sans Narrow;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
p {
  color: var(--font-color, #000);
  font-family: PT Sans Narrow;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
h4 {
  color: var(--font-color, #000);
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 46px;
}
.shakl {
  width: 71px;
  height: 10px;
  background: var(--primary, #0699a6);
}
.edu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 30px; */
}
a {
  color: var(--primary, #0699a6);
  font-family: PT Sans Narrow;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}

footer {
  background-image: linear-gradient(-3deg, #ece4d1 50%, transparent 50% 100%);
  padding-bottom: 12rem;
  padding-top: 10rem;
}

.get {
  max-width: 1440px;
  /* height: 547px; */
  flex-shrink: 0;
  fill: var(--secondary, #9e8c6c);
  margin: 0 auto;
  /* opacity: 0.10000000149011612; */
}
.get h2 {
  padding-top: 400px;
  color: var(--font-color, #000);
  text-align: center;
  font-family: Playfair Display;
  font-size: 66px;
  font-style: normal;
  font-weight: 900;
  line-height: 82px;
  margin-bottom: 20px;
  letter-spacing: -1.138px;
}
.get h5 a {
  color: var(--primary, #0699a6);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  line-height: 46px;
  text-decoration: none;
}
.get h5 {
  text-align: center;
  margin-bottom: 20px;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0699a6;
  font-size: 28px;
  gap: 30px;
}

/* telefon uchun style */

/* planshet uchun style */
